<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <div>
    <span>Pending friend requests:</span>
    <%@user.friend_requests.each do |friendship|%>
      <p>
       <span style="color: green;"> <%=friendship.name%> </span><span>Wants to be your friend</span><br>
        <br><%= accept_friendship(friendship)%> <br>
        <br><%= reject_friendship(friendship)%>
      </p>
    <% end %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
